body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    margin: 10px auto;
    text-align: center;
    
}

.headings h1{
    color:     #cccccc;

}

header img, .headings {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.menuBar {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #f2f2f2;
      
}

.menuBar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;;
    background-color:  #ffffff;
    
}

ul .dropdown {
    display: none;
    cursor: pointer;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    padding: 15px 0 15px 20px;
    text-decoration: none;
    text-align: center;
    color:   #000000;
    
}

.menuBar a:hover {
    color:  #4d4d4d;
}

@media (max-width: 30em) {
    .nav ul li {
        float: none;
    }
    ul .dropdown {
        display: block;
        padding: 15px 0 15px 20px;
        color:  #000000;
        text-align: center;
        
        
    }
    ul .menu li a {
        padding: 0px 20px 10px 20px;
    }
    ul .menu {
        display: none;
    }
    ul li:hover .menu {
        display: block;
    }
}

main h2 {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    color: black;
}

.hero-ph {
    margin: 10px auto;
    width: 99%;
    height: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/lesson-5/images/sunny.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.herodiv {
    margin: 10px auto;
    position: relative;
    background: #fafafa  ;
    
}

.weathersummary {
    color: whitesmoke;
    position: absolute;
    font-size: 85%;
    top: 1px;
    left: 180px;
   
}

@media (max-width: 30em) {
    .weathersummary {
        position: absolute;
        top: 1px;
        left: 30px;
    }

}

.article {
    background: #fafafa  ;
    color: #757575   ;
    
    
}

.article h3{
    font-family: 'Major Mono Display', monospace;
}

.article h4 {
    font-family: 'Major Mono Display', monospace;
}

.article p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100%;
}

.article img {
    float: right;
}

.contact {
        background: #fafafa  ;
}

footer {
    margin: 10px auto;
    text-align: center;
    
}

footer img {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

/* Five Day Forecast */

.forecast {
    text-align: center;
    vertical-align: middle;
    background: #fafafa  ;
}

.fiveDays{
    padding: 10px;
    display: inline-block;
   

}

.fiveDays .icon {
    width: 50px;
    height: 50px;
    background-image: url('C:/Users/jagg9/BYU-Idaho/OneDrive - BYU-Idaho/CIT 230/jagg509.github.io/cit230/lesson-5/images/sun.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 30em) {

    .forecast {
        display: none;
        cursor: pointer;
    }

}


