body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
   
    
}

.headings h1{
    color:     #cccccc;

}

header img, .headings {
    
    margin: 10px;
    
}

/* Menu Section */


.menu {
	max-width: 80%;
	margin: 1rem auto;
	background-color: whitesmoke;
}

.navigation li { display: none; }
.navigation li:first-child { display: block; }

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: flex;
	flex-direction: column;
}
.navigation li a { display: block;
	color:black;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	
}

.active, .page:hover {color: #000;  font-weight: 700;}


.responsive li { display: block; }

@media (min-width: 45em) {
	.navigation li:first-child { display: none;	}
	.navigation li { display: block; flex: 1 1 auto; }
	.navigation, .container { flex-direction: row; }
}

 /* Summary */ 


main h2 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: black;
}

.hero-ph {
    margin: 10px auto;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/lesson-6/images/city.jpg");
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#sodahero {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/weathersite/images/sodasp.jpg");
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.herodiv {
    width: 80%;
    margin: 10px auto;
    position: relative;
    background: #fafafa  ;
    
}

.weathersummary {
    
    color: whitesmoke;
    position: absolute;
    font-size: 80%;
    top: 10px;
    left: 30px;
   
}

@media (max-width: 30em) {
    .weathersummary {
        position: absolute;
        top: 1px;
        left: 30px;
    }

    .herodiv {
        width: 95%;
    }

}


 /* Article */ 
.article {
    
    padding-left: 15px;
    padding-bottom: 5px;
    background: #fafafa ;
    color: #757575   ;
    width: 80%;
    margin: auto;
    
}

.article h3{
    padding-top: 8px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.article h4 {
    font-family: 'Ubuntu', sans-serif;
}

.article p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100%;
}

.article img {
    float: right;

}




@media (max-width: 30em) {

    .article img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.article {
        width: 95%;
        margin: auto;
      }
   

}


/* Five Day Forecast */

.forecast h2{
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: black;
}

.forecast {
    
    width: 80%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background: #fafafa  ;
}

.fivedays{
    padding: 10px;
    display: inline-block;
   

}

.fivedays .icon {
    width: 50px;
    height: 50px;
    background-image: url('https://jagg509.github.io/cit230/lesson-6/images/sunnyIcon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 30em) {

    .forecast {
        display: none;
        cursor: pointer;
    }

}


/* Contact */
.contact {
    padding-left: 15px;
    background: #fafafa  ;
    width: 80%;
    margin: auto;
}

.contact h3 {
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: black;

}

.contact ul{
    list-style: none;
}

@media (max-width: 30em) {
    .contact {
        width: 95%;
        margin: auto;
        
    }

}


/* Footer */



footer {
margin: 10px auto;
text-align: center;

}

footer img {
display: inline-block;
vertical-align: middle;
margin: 10px;
}


/* Gallery Site */

.wrapper {
        width: 97%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
        justify-items: center;
        text-align: center;
      }
      * {box-sizing: border-box;}
  
       
.wrapper > div {
          padding: 1em;
          }
      
.image-box img {
          width: 100%;
      }

 .gallery h2 {
    
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: black;
           
          }

        
 /* Storm Center */         
       
.formcontainer {

    display: flex;
    padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

input[type=text], 
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
input[list="storms"],
select[name="regions"] {

    width: 40%; 
  padding: 15px;
  margin: 2px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}

input[type="range"] {

    width: 40%; 
  padding: 15px;
  margin: 2px 0 0 0;

}

input[type=radio],
textarea {
    width: 40%;
    margin: 5px 0 8px 0; 
  padding: 40px;
  display: inline-block;
 
}


.submitbtn {
    
    color: white;
    white-space: nowrap;
    background-color: black;
    padding: 10px 20px;
    border: 0;
    border-radius: border-radius;
    transition: all 150ms ease-out;
  
  }

  .submitbtn:hover {

    background-color: darken;
    font-weight: 700;

  }
  
  /* Thank you Site */  

  .thanks {
    z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(.8);
  text-align: center;

  }

  .thanks h3{
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 1;
    color:black;
    letter-spacing: 2px;
  
  }

.thanks h2{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  padding: 0;
  margin: 4px 0 0 0;
  line-height: 1;
  color: black;
  letter-spacing: 2px;
}

/* Home Page */  

.news {
    display: flex;
    flex-wrap: nowrap;
    max-width: 80%;
  	margin: 1rem auto;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
  }

  .news img {

    width: 60%;

  }
  
  .news > div {
    
    margin: 10px;
    text-align: center;
    width: 80%;
    
  }

.newshead {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 150%
}

.news .button:hover {

    background-color: darken;
    font-weight: 700;
    

}

.tjson {
  display: flex;
  flex-wrap: nowrap;
  max-width: 80%;
  margin: 1rem auto;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  background: #fafafa;
  
}

.tjson article{

  
  margin: 10px;
  text-align: center;
  width: 98%;
  height: 300px;
  color: whitesmoke;
  text-decoration-style: none;
  

}

.tjson article:nth-child(1){
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/lesson-9/images/city1.jpeg");
    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.tjson article:nth-child(2){
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/lesson-9/images/city2.jpeg");
    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.tjson article:nth-child(3){
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/lesson-9/images/city3.jpeg");
    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.tjson h2{

  text-align: center;
  
  
}




.tjson a{

  text-decoration: none;
  text-decoration-style: none;
  color: #fafafa;

}






@media (max-width: 45em) {
  .tjson {

    flex-direction: column;
  }

  .news{

    flex-direction: column;
    align-items: center;
    background: #fafafa;
  }

}

.cityHeader {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 150%
}