/*Header*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
     
}


/* Menu Section */

.test img {
	
	width: 100%;
	margin: auto;
	display: f

}

/* Menu Section */


.menu {
	max-width: 100%;
	margin: 1rem auto;
	background-color: #f3f1f1;
}

.navigation li { display: none; }
.navigation li:first-child { display: block; }

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: flex;
	flex-direction: column;
}
.navigation li a { display: block;
    font-family: 'Bree Serif', serif;
	color:#a59f93;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	
}

.active, .page:hover {color: #7d7668;  font-weight: 800;}


.responsive li { display: block; }

@media (min-width: 550px) {
	.navigation li:first-child { display: none;	}
	.navigation li { display: block; flex: 1 1 auto; }
	.navigation, .container { flex-direction: row; }

}

/* Reservation Home Page */

.imageReservation {


	width: 90%;
    margin: auto;
	height: 500px;
	padding: 30px;
	font-family: 'Bree Serif', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-stretch: 100%;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 12px;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/templeInn/images/payton.jpg")

}

.imageReservation .button,
 .submitcontact, 
 .container3 .button, 
 .container4 .button
 {

	font-family: 'Bree Serif', serif;
	color: white;
	background: #a59f93;
	text-align: center;
	border: #a59f93;
	  text-decoration: none;
	  padding: 15px 30px;
}

/*Temple on Home Page*/

.temple-of-home {

	margin: auto;
	margin-top: 25px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.temple-of-home dl {

	
	padding-right: 50px; 
	font-family: 'Bree Serif', serif;
	color:#a59f93;

}

.photo-temle-home img{
width: 90%;

}

.footer-temple-home {

	
	margin-top: 20px;	
	text-align: center;

}

.footer-temple-home .button-rome {

	font-family: 'Bree Serif', serif;
	color: white;
	background: #f99185;
	text-align: center;
	font-size: 200%;
	  text-decoration: none;
	  padding: 15px 30px;
}

.title-temple-home {

	font-family: 'Bree Serif', serif;
	font-size: 30px;
	letter-spacing: 3px;
	color: #a59f93;
	text-align: center;
	margin-top: 15px;

}

/*Grid on Home*/


.grid-container-home {

	font-family: 'Bree Serif', serif;
	
	color: #a59f93;
	letter-spacing: 3px;
	
	width: 90%;
	margin: auto;
	display: grid;
	grid-gap: 10px;
	padding: 15px;
	margin-top: 10px;
	text-align: center;
	justify-items: center;
	align-items: center;
  }
  
  .grid-item {

	padding: 20px;
	font-size: 30px;
  }
  
  .item1 {
	font-size: 250%;
	grid-column: 1 / span 2;
	grid-row: 1;
  }
  
  .item2 {
	grid-column: 3;
	grid-row: 1 / span 3;
  }

  .item2 img {
	
	width: 100%;
	opacity:0.85;
	
  }
  
  .item3 {
	grid-column: 1 / span 2;
	grid-row: 3;
	  }

  .item3 img {

	width: 100%;
	opacity:0.80;
  }

  @media (max-width: 60em) {

	.item2 {
		display: none;
	}


  }

  /* First Footer Home Page*/

  .footer-home{
	  text-align: center;
	  font-family: 'Roboto', sans-serif;
	color: white;
	letter-spacing: 3px;
	background: #a59f93;
	
  }

  .footer-home a{
	  text-decoration: none;
	  color: white;
  }

  .footer-home a:hover {

	background-color: darken;
    font-weight: 1000;
  }
/* Footer*/

footer {

	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	color: #a59f93;
}

/* Temple Page Layout*/


.jsonSection {

	display: flex;
  flex-wrap: nowrap;
  max-width: 95%;
  margin: 1rem auto;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
	justify-items: center;

}

.jsonSection div {

	margin: 15px;
	text-align: center;
	width: 98%;
  color: black;
	text-decoration-style: none;
	color: whitesmoke;
	

}

.jsonSection h2 {

	letter-spacing: 3.5px;
	background: #a59f93;
	color: white;
	width: 90%;
	margin: auto;
	margin-top: 10px;
	

}

.jsonSection ul {padding: 0;}

.jsonSection li {
	
	list-style: none;
	
	
}

.jsonSection div:nth-child(1) {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/templeInn/images/cedar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.jsonSection div:nth-child(2) {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/templeInn/images/hartford.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.jsonSection div:nth-child(3) {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/templeInn/images/provo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.jsonSection div:nth-child(4) {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/templeInn/images/kansas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.temple-page-index {

	
	margin-top: 20px;	
	margin-bottom: 30px;
	text-align: center;

}

.temple-page-index .button-tindex,
.submitbtn,
.button-wedding,
.button-suites {

	font-family: 'Bree Serif', serif;
	color: white;
	background: #f99185;
	text-align: center;
	font-size: 200%;
	text-decoration: none;
	padding: 15px 30px;
	border: #f99185;
}

.title-temple-page h1 {

	text-align: center;
	font-family: 'Bree Serif', serif;
	letter-spacing: 12px;
	color: #a59f93;

}


@media (max-width: 65em) {

	.jsonSection {
		flex-wrap: wrap;
		flex-direction: column;
	}

}

/* Reservations Page*/

.reservation-title {

	text-align: center;
	font-family: 'Bree Serif', serif;
	color: #a59f93;
	font-size: 25px;
	width: 80%;
	margin: auto;
	letter-spacing: 5px;
}

.reservation-title img {

	width: 95%;

}
.reservation-title h2{

	color: black;
	letter-spacing: 12px;
}

/* Reservations Form*/

.reservation-container, .contactus-container{

	display: flex;
  padding: 15px;
  flex-direction: column;
	justify-content: center;
	justify-items: center;
  align-items: center;
  min-height: 100%;
	font-family: 'Bree Serif', serif;
	color: #a59f93;
}


select[name="locations"],
input[type=date],
input[list="rooms"],
input[type=number],
input[type=text], 
input[type=email],
input[type=tel],
input[list="state"],
input[list="topics"]{
	
	width: 40%; 
  padding: 15px;
  margin: 2px 0 22px 0;
  display: inline-block;
  border: none;
	background: whitesmoke;
}

#tandcs{

	text-align: center;
	padding: 20px;

}

	/*Confirmation Site*/  

	
	.reservationdone,
	.contactdone {
    z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(.8);
  text-align: center;

  }

  .reservationdone h1{
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 1;
    color:black;
    letter-spacing: 2px;
  
  }

.reservationdone p{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  padding: 0;
  margin: 4px 0 0 0;
  line-height: 1;
  color: black;
  letter-spacing: 2px;
}
	
	/*Confirmation Site*/ 

.contact-title{

	font-family: 'Bree Serif', serif;
	letter-spacing: 5px;
	text-transform: uppercase;

}

.footer-home iframe{

	width: 97%;

}



	/*Services Site*/ 


	.container1, .container2 {

	
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: auto;
		padding: 5px;
		width: 100%;
		font-family: 'Bree Serif', serif;
		color: #a59f93;
		text-transform: uppercase;

	}

	.container1 img, .container2 img {
		 
		width: 97%;

	}

	.container1 div:nth-child(1), 
	.container2 div:nth-child(1){

		padding-right: 15px;

	}

	.services-banner{

		font-family: 'Bree Serif', serif;
		color: #a59f93;
		text-transform: uppercase;
		letter-spacing: 12px;
		text-align: center;

	}


.container3 {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/templeInn/images/marriage.jpg");
	margin: auto;
	margin-bottom: 30px;
 
}

.container4 {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/templeInn/images/bed2.jpg");
	margin: auto;

}

.container3, .container4 {

	width: 100%;	
	
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

	height: 500px;
	font-family: 'Bree Serif', serif;
	text-transform: uppercase;
	color: white;
	font-stretch: 100%;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

/*Weeding Page*/

.wedding-container, 
.wedding-container1, 
.wedding-container2,
.suites-container,
.suites-container1,
.suites-container2{

width: 80%;
margin: auto;	
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: center;
align-items: center;
padding-right: 15px;
padding-left: 15px;
	font-family: 'Bree Serif', serif;
		color: #a59f93;
		text-transform: uppercase;
		letter-spacing: 5px;
		text-align: center;
}





@media (max-width: 60em) {


	.wedding-container, 
.wedding-container1, 
.wedding-container2,
.suites-container,
.suites-container1,
.suites-container2{

	flex-wrap: wrap;
	flex-direction: column;


}

	.wedding-container img, 
.wedding-container1 img, 
.wedding-container2 img,
.suites-container img,
.suites-container1 img,
.suites-container2 img {

 width: 100%;

}


.wedding-container2 div:nth-child(1),
.suites-container2 div:nth-child(2){

margin-bottom: 30px;

	}



}