.news {
    display: flex;
    flex-wrap: nowrap;
    max-width: 85%;
	margin: 1rem auto;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
  }

  .news img {

    width: 60%;

  }
  
  .news > div {
    
    margin: 10px;
    text-align: center;
    width: 80%;
    
  }

.newshead {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 150%
}

.news .button:hover {

    background-color: darken;
    font-weight: 700;
    

}

section{
    display: flex;
    flex-wrap: nowrap;
    max-width: 85%;
	margin: 1rem auto;
	justify-content: center;
}


