.news {
    display: flex;
    flex-wrap: nowrap;
    max-width: 85%;
  	margin: 1rem auto;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
  }

  .news img {

    width: 60%;

  }
  
  .news > div {
    
    margin: 10px;
    text-align: center;
    width: 80%;
    
  }

.newshead {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 150%
}

.news .button:hover {

    background-color: darken;
    font-weight: 700;
    

}

.tjson {
  display: flex;
  flex-wrap: nowrap;
  max-width: 85%;
  margin: 1rem auto;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}

.tjson article{

  
  margin: 30px;
  text-align: center;
  width: 90%;
  height: 350px;
  background: grey;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://jagg509.github.io/cit230/lesson-6/images/city.jpg");
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

article p {

}

.tjson h2{

  text-align: center;

}




